.nav-item link{
    list-style-type: none;
}
.nav-none-markers{
    list-style-type: none;
}
.nav-square-markers{
    list-style-type: square;
}
.nav-circle-markers{
    list-style-type: circle
}