@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --ff-base: 'Roboto', sans-serif;

    --first-color: #ffb566;
    --button-color: #2b2b2b;
    --button-color-alt: #363636;
    --title-color: #262626;
    --text-color: #595959;
    --text-color-light: #8c8c8c;
    --body-color: #fcfcfc;
    --border-color: hsl(0, 0%, 94%);

    --base-width: 1024px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.visually-hidden{
    position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  margin: -1px!important;
  border: 0!important;
  padding: 0!important;
  white-space: nowrap!important;
  clip-path: inset(100%)!important;
  clip: rect(0 0 0 0)!important;
  overflow: hidden!important;
}
ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-weight: var(--fw-medium);  
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
button {
    font: inherit;
    color: inherit;
}
.button{
   text-transform: uppercase; 
   transition-duration: .3s;
   font-size: var(--fw-medium);
}
.container {
    width: var(--base-width);
    margin-inline: auto;
}
.section{
    padding: 6.5rem 0 1rem;
}
.section-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-bottom: 3rem;
}
.section-title::before{
    content: "";
    border-top: 1px solid var(--first-color) ;
    display: block;
    width: 5rem;
}
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--ff-base);
    font-weight: var(--fw-normal);
}

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-inner {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.logo, .header-btn {
    color: var(--title-color);
}

.logo {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-size: 1.25rem;
}

.header-btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.btn-menu, .btn-close {
    display: none;
}

/*.footer{
    margin-top: 50px;
    padding: 20px;
    background-color: var(--text-color-light);
    text-align: center;
    column-gap: 3rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;}*/

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
/* .main{ 
    flex: 1px;
    margin-top: 100px;
    padding: 20px;
    position: absolute;
}*/
h4{
    margin-top: 15px;
}
.h2 {
    padding-bottom: 10px;
  }
  .h2:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 2px;
    background: #79F8D7;
  }
  .h2:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 2px;
    background: #79F8D7;
  }
.header-nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
.nav-list-link{
    color:  var(--title-color);
    font-size: 0.25rem;
    font-weight: var(--fw-medium);
    font-size: 1.25rem;
    transition: color .1s ease-in-out;
}
.header-btns{
    margin-left: auto;
}
.header-btn{
    background-color: transparent;
    border: none;
}
.nav-list-link:hover{
    color: var(--first-color)
}
.btn-menu, .btn-close{
    display: none;
}
.btn-close{
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 1.25rem;
    top: 1rem;
}
.home-social{
    list-style-type: none;
}

.home-inner{
    /*background-color: #79F8D7;*/
    display: grid;
    row-gap: 2.5rem;
    padding-top: 6.5rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
    position: relative;
}
.home-bg-img-container{
    order: 1;
    background-color: var(--first-color);
    height: 680px;
    width: 480px;
    transform: translate(1.5rem, -6rem);
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.home-bg-img{
    width: 420px;
}
.home-social{
    position: absolute;
    left: -6rem;
    top: 47%;
    column-gap: 2rem;
    display: flex;
    transform: rotate(-90deg);
}
.home-social-link{
    color: var(--text-color-light);
    transition: .3s;
}
.home-social-link:hover{
    color: var(--title-color);
}
.home-data{
    padding: 0 0 8rem 6rem;
}
.home-title{
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.home-description{
    margin-bottom: 1.5rem;
}
.home-price{
    display: block;
    color: var(--first-color);
    font-size: 1.25rem;
    font-weight: var(--fw-medium);
    margin-bottom: 3rem;
}
.home-btns{
    display: flex;
    align-items: center;
}
.home-button{
    border: none;
    background-color: var(--button-color);
    padding: 1.25rem 2rem;
    color: var(--body-color);
    box-shadow: 0 15px 24px lightgray;
}
.home-button:hover{
    background-color: var(--button-color-alt);
}
.button-gray{
    color: var(--title-color);
    background-color: hsl(0, 0%, 75%);
}
.button-gray:hover{
   background-color: hsl(0, 0%, 63%);
}
.button-small{
    padding: 1rem 1.5rem;
    text-transform: capitalize;
}
.featured-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-top: 2rem;
}
.featured-card{
    background-color: #fff;
    border: 1px solid var(--border-color);
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    transition-duration: .3s;
    padding-bottom: 3rem;  
}
.featured-card-img{
    height: 214px;
}
.featured-card-tag{
    position:relative;
    top: 0;
    padding: .5rem 1rem;
    left: -9.1rem;
    background-color: var(--first-color);
    color: var(--body-color);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    font-size: .875rem;
    transform: rotate(-90deg);
}
.featured-card-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}
.featured-card-title{
    text-transform:capitalize;
    font-size: 1rem;
    font-weight: var(--fw-bold);
}

.featured-card-price{
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--first-color);}
    
.featured-card-button{
    border: none;
    background-color: var(--button-color);
    font-size: .875rem;
    font-weight: var(--fw-medium);
    color: white;
    transition-duration: .3s;
    transform: -1rem;
    opacity: 0;
    padding: .5rem 2rem;
}
.featured-card:hover .featured-card-button{
    opacity: 1;
    padding-block: 1.25rem;
    transform: none;
}
.featured-card-button:hover{
    background-color: var(--button-color-alt);
}
.testimonial-inner{
    display: grid;
    column-gap: 13rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 4rem;
}
.testimonial-slider-content{
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.testimonial-slide{
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
}
.testimonial-quote{
    color: var(--first-color);
    font-size: 1.5rem;
    background-color: #fff;
    padding: .5rem .75rem;
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    margin-bottom: 2rem;
    display: inline-block;
}
.testimonial-description{
    margin-bottom: 1rem;
}
.testimonial-date{
    font-size: 1rem;
    margin-bottom: 2rem;
    color: var(--title-color);
    font-weight: var(--fw-medium);
}
.testimonial-author{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 7rem;
}
.testimonial-avatar{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.testimonial-author-info{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.testimonial-authot-name{
    font-size: 1.25rem;
    color: var(--title-color);
    font-weight: var(--fw-medium);
}
.testimonial-authot-job{
    font-style: .875rem;
}
.testimonial-slidder-control{
    display: flex;
    column-gap: 1rem;
}
.slider-control-arrow{
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: flex;
    align-items: center;
}
.testimonial-images{
    position: relative;
}
.testimonial-square{
    background-color: var(--first-color);
    height: 450px;
    aspect-ratio: 1;
}
.testimonial-img{
    height: 450px;
    aspect-ratio: 1;
    position: absolute;
    right: 5rem;
    top: 5rem;
}
.products-cards{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 2.5rem;
}
.products-card{
    display: flex;
    position: relative;
    padding-bottom: 2rem;
    background-color: #fff;
    border: 1px solid var(--border-color);
    transition-duration: .3s;
    flex-direction: column;
    align-items: center;
}
.products-card:hover{
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}
.products-card-img{
    height: 155px;
    margin-bottom: 1rem;
}
.products-card-title{
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.products-card-price{
    font-size: .875rem;
    font-weight: var(--fw-medium);
    color: var(--first-color);
}
.products-card-button{
    border: none;
    background-color: var(--button-color);
    padding: .4rem;
    color: white;
    transition-duration: .3s;
    position: absolute;
    bottom: 0;
    right: 0;
}
.products-card-button:hover{
    background-color: var(--button-color-alt);
}
i.products-card-button{
    font-size: 1rem;
}
