*{	
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
		background-color: bisque;
		padding: 30px;	
	}
.heading{
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin-bottom: 10px;
}
.main-heading{
		text-align: center;
		font-size: 56px;
		margin-bottom: 20px;
	}
.chapter-heading{
			font-size: 44px;
	}
.sub-heading{
        font-size: 36px;
	}
.p{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-style: italic;
		font-weight: normal;
	}
.txt{
        text-align: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: normal;
    }
.marker-circle{
		list-style-type: circle;
		padding-left: 15px;
}
.nav-item{
		display:block
	}
.header{
	margin-bottom: 20px;
	display: block;
}
.main-container{
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgb(150, 182, 255);
	border-radius: 20px;
	box-shadow: blue 0 0 10px;
}
.main-footer{
	margin: 0;
}
.main-header{
	position: sticky;
	top: 0;
}
.img-float{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.main-header{
	background-color: white;
}
.main-nav{
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.main-nav-item:hover{
	transform: scale(1.1);
	cursor: grab;
}
.main-nav-item:active{
	transform: scale(0.9);
}
.main-nav-item{
	transition-property: transform;
	transition-duration: 300ms;
}
