html{
    --darkest: black;
    --dark: #3d010e ;
    --middle: #79021c;
    --light: #b6042a;
    --ultralight: #f50538;
    --lightest: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
::selection {
    background-color: var(--middle);
    color: var(--lightest);
}

/* COMMON ITEMS */

.big-title{
    font-size: 44px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: var(--lightest);
}

.sub-title {
    font-size: 28px;
}

.txt-link, .txt-btn {
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    outline: none;
}

.txt-link {
    text-decoration: none;
    transition-property: color;
    color: var(--lightest);
}
.txt-link:hover {
    color: var(--lightest);
    transform: scale(1.05);
}
.txt-link:active {
    color: var(--lightest);
    transform: scale(0.95);
}

.txt-btn {
    background-color: var(--light);
    color: var(--lightest);
    box-shadow: var(--darkest) 2px 2px 5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 0 5px;
    font-size: 20px;
    border-radius: 10px;
    transition-property: transform, color, box-shadow;
}
.txt-btn::selection {
    background-color: var(--ultralight);
    color: var(--dark);
}
.txt-btn:hover {
   color: var(--lightest);
}
.txt-btn:active {
    box-shadow: var(--dark) 0 0;
    transform: translateY(5px);
}

/* CONTAINERS */

.one-column-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.one-line-flex-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.body {
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(rgb(189, 0, 44), rgb(189, 0, 107));
    padding: 50px;
}

.main-container-header {
    width: 100%;
    min-width: 720px;
    max-width: 1600px;
    background-color: var(--middle);
    padding: 30px;
    border-radius: 20px;
    border: var(--light);
    justify-content: space-between;
    box-shadow: var(--darkest) 2px 2px 5px;
}

/* MAIN HEADER */
.main-nav {
    justify-content: center;
}

.main-container-header > .txt-btn {
    background-color: var(--ultralight);
    box-shadow: rgb(0, 0, 0) 0 5px;
}
.main-container-header > .txt-btn:active {
    box-shadow: rgb(0, 0, 0) 2px 2px;
}

/* MAIN */

.main-container-main {
    flex-grow: 1;
}

.cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: var(--middle);
    color: var(--lightest) ;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px;

    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5em;
    grid-template-areas:
        "img title"
        "img price"
        "txt txt"
        "txt-btn txt-btn";
}
.card > .sub-title {
    color: var(--lightest);
    font-weight: 400;
    grid-area: title;
}
.card > .card-price {
    font-size: 24px;
    color: var(--lightest);
    grid-area: price;
}
.card > .img {
    grid-area: img;
    display: block;
    width: 100%;
}
.card > .txt {
    grid-area: txt;
    color: var(--lightest);
}
.card > .txt-btn {
    grid-area: txt-btn;
}

.card > .sub-title::selection,
.card > .txt::selection {
    color: var(--middle);
    background-color: var(--lightest);
}

/* MAIN FOOTER */

.main-container-footer {
    justify-content: space-between;
}